@model Hotel_Manage.Models.Room
@{
    ViewBag.Title = "New";
}

<h2>@ViewBag.Title</h2>

<br />

<form method="post" action="/Rooms/Create/">
    <button class="btn btn-primary" id="bt-add" type="submit">Create</button>
</form>
