@model Hotel_Manage.Models.Room;
@{
    ViewBag.Title = "Details Room " + Model.RoomId;
}

@Html.Label("CurrentlyBooked", "CurrentlyBooked:")
<br />
<p>@Model.CurrentCustomerId</p>

<h2>Details</h2>

